#top {
	font-size: 250% ;
	display : block ;
	margin-left : auto ;
	margin-right : auto ;
	margin-bottom : 20px ;
	text-align : center ;
}
body {
	font-size : 150% ;
	font-family : Tahoma, Geneva, sans-serif ;
}
table {
	font-size : 100% ;
}
.section {
	display : block ;
	text-align : center ;
	font-size : 125% ;
	background-color : LightPink ;
}
.subsection {
	display : block ;
	font-weight : bold ;
}
