body {
	counter-reset : row ;
}
table {
	border-collapse : collapse ;
	width : 100% ; 
}
th {
	font-weight : normal ;
	text-decoration : underline ;
}
tr:hover {
	border-color : black ;
}
tr {
	border-bottom-style: solid;
	border-color : white ;
}
th {
	text-align  : left ;
}
td {
	padding : 3px ;
}
