#top {
	font-size: 250% ;
	display : block ;
	margin-left : auto ;
	margin-right : auto ;
	margin-bottom : 20px ;
	text-align : center ;
}
body {
	counter-reset : row ;
}
table {
	border-collapse : collapse ;
}
th {
	background : lightgray ;
	font-weight : normal ;
}
tr:hover {
	border-color : black ;
}
tr {
	border-bottom-style: solid;
	border-color : white ;
}
th {
	text-align  : left ;
}
td {
	padding : 3px ;
}
